:root {
    --blue: #aed7ee;
}

body {
    max-width: 120ch;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    min-height: 100vh;
    background: radial-gradient(circle, #00000000, var(--blue) );
}

img {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .8em 1em -.5em #0000005e;
    text-align: center;
}
header > * {
    margin: .6rem auto;
}

.video-box {
    width: 100vw;
    max-width: 100%;
    text-align: center;
}
